.basket-content {
    background-color: #0d0d0d;
    i {
        color: #00528c;
        font-weight: 500;
        &:hover {
            color: #0bafe6;
        }
        cursor: pointer;
    }
    .table {
        thead {
            th {
                color: #808080;
                font-weight: initial;
            }
        }
        input {
            color: #bfbfbf;
            background-color: #121212;
            border-color: #333;
            font-weight: bold;
            padding: 0px;
            text-align: center;
            margin: 0 5px;
            width: 58px;
            border: 1px solid #333
        }
        .count {
            color: #00528c;
            display: flex;
            align-items: center;
            span {
                cursor: pointer;
                &:hover {
                    color: #0bafe6;
                }
            }
        }
        .price {
            font-size: 20px;
            line-height: 26px;
            color: #fff;
        }
        .last-price {
            font-weight: 300;
            color: #0bafe6;
            font-size: 25px;
            line-height: 25px;
        }
    }
}

.table thead th {
    border-bottom: none !important;
}

.table-head {
    border-bottom: 1px solid #0bafe6;
}

.table td,
.table th {
    padding: 20px 0;
    border-top: unset;
    border-bottom: none;
    color: #808080;
    img {
        max-width: 58px;
        max-height: 58px;
    }
}

tr {
    border-bottom: 1px solid #808080;
    &:last-child {
        border-bottom: none;
    }
}

.td-1 {
    a {
        color: #fff;
        font-size: 20px;
        line-height: 20px;
        padding: 0px 20px 0px 0px;
    }
}

.total-sum {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #121212;
    button {
        font-size: 20px;
        i {
            color: #fff;
            margin-left: 20px;
        }
    }
    .blue-text {
        font-size: 40px;
        line-height: 38px;
        display: block;
        margin: 0 15px;
    }
    .total-price {
        display: flex;
        align-items: center;
        color: #808080;
    }
}